<div class="todo">
  <div class="nave" [ngStyle]="{'margin-left': DatosService.pxPosicionX + 'px',
    'margin-top': DatosService.pxPosicionY + 'px', rotate: DatosService.rotacionSpriteNave + 'deg',}">
    <div class="nave" style="z-index: 20;" [ngStyle]="{'background-image': DatosService.spriteDanioNave}"></div>
    <div class="nave" [ngStyle]="{'background-image': DatosService.spriteNave}"></div>
    <div class="nave" [ngStyle]="{'background-image': DatosService.spritePropulsionNave}"></div>
  </div>
  <!-- <button (click)="DatosService.acelerar('w')">w</button><br>
<button (click)="DatosService.acelerar('a')">a</button>
<button (click)="DatosService.acelerar('d')">d</button> -->
  <div class="suelo"></div>
  <div class="bala" [ngStyle]="{'margin-left': DatosService.pxPosicionX_Bala + 'px',
'margin-top': DatosService.pxPosicionY_Bala + 'px'}"></div>

  <div class="UFO" [ngStyle]="{'margin-left': DatosService.posicionUFO_X + 'px',
'margin-top': DatosService.posicionUFO_Y + 'px', 'background-image': DatosService.spriteUFO}"></div>

</div>